<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.water.web.dao.DoctorInfoMapper">
  <resultMap id="BaseResultMap" type="com.api.water.web.model.DoctorInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="starttime" jdbcType="INTEGER" property="starttime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="goodat" jdbcType="VARCHAR" property="goodat" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="work_id" jdbcType="VARCHAR" property="workId" />
  </resultMap>
</mapper>