<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.water.web.dao.DrugMapper">
  <resultMap id="BaseResultMap" type="com.api.water.web.model.Drug">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="drug_kind" jdbcType="TINYINT" property="drugKind" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="drug_code" jdbcType="VARCHAR" property="drugCode" />
    <result column="pretype" jdbcType="TINYINT" property="pretype" />
    <result column="hctype" jdbcType="TINYINT" property="hctype" />
    <result column="norms" jdbcType="VARCHAR" property="norms" />
    <result column="dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="taboo" jdbcType="VARCHAR" property="taboo" />
    <result column="dnotice" jdbcType="VARCHAR" property="dnotice" />
    <result column="scfactory" jdbcType="VARCHAR" property="scfactory" />
    <result column="drug_price" jdbcType="DECIMAL" property="drugPrice" />
    <result column="issue" jdbcType="BIT" property="issue" />
    <result column="create_date" jdbcType="INTEGER" property="createDate" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="third_id" jdbcType="BIGINT" property="thirdId" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="drug_name_initials" jdbcType="VARCHAR" property="drugNameInitials" />
    <result column="com_name_initials" jdbcType="VARCHAR" property="comNameInitials" />
    <result column="total" jdbcType="DECIMAL" property="total" />
  </resultMap>
</mapper>