<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.water.web.dao.FollowUserMapper">
  <resultMap id="BaseResultMap" type="com.api.water.web.model.FollowUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="follow_id" jdbcType="BIGINT" property="followId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="last_read" jdbcType="INTEGER" property="lastRead" />
  </resultMap>
</mapper>