<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.water.web.dao.FollowMapper">
  <resultMap id="BaseResultMap" type="com.api.water.web.model.Follow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="whoset" jdbcType="BIGINT" property="whoset" />
    <result column="group_chat_id" jdbcType="VARCHAR" property="groupChatId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctorId" />
  </resultMap>
</mapper>