<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.water.web.dao.FollowMessageMapper">
  <resultMap id="BaseResultMap" type="com.api.water.web.model.FollowMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="follow_id" jdbcType="BIGINT" property="followId" />
    <result column="sender" jdbcType="BIGINT" property="sender" />
    <result column="create_date" jdbcType="INTEGER" property="createDate" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="audio_length" jdbcType="INTEGER" property="audioLength" />
    <result column="screen" jdbcType="BIT" property="screen" />
  </resultMap>
</mapper>